# 📁 Environment Files
.env
.env.backup
.env.production

# 🗃 Logs & Cache
*.log
.phpunit.result.cache
.phpunit.cache

# 🛠 IDE & Tool Configs
/.idea
/.vscode
/.fleet
/.zed
/phpactor.json
/auth.json
/.nova

# 🧹 OS Generated
.DS_Store
Thumbs.db

# 🧱 Dependencies
/node_modules
/vendor

# 🚫 Laravel Specific
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail

# 🖥 Homestead
Homestead.json
Homestead.yaml
